CoffeeShop/.idea/encodings.xml
CoffeeShop/.idea/misc.xml
CoffeeShop/.idea/uiDesigner.xml
CoffeeShop/.idea/vcs.xml
CoffeeShop/.idea/workspace.xml
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Update_at_26_03_2025_11_40_\[Changes\]/shelved.patch
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Update_at_26_03_2025_11_40__Changes_.xml
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Update_at_26_03_2025_11_42_\[Changes\]/shelved.patch
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Update_at_26_03_2025_11_42__Changes_.xml
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Update_at_26_03_2025_11_44_\[Changes\]/shelved.patch
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Update_at_26_03_2025_11_44__Changes_.xml
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Update_at_26_03_2025_12_01_\[Changes\]/shelved.patch
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Update_at_26_03_2025_12_01__Changes_.xml
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Update_at_26_03_2025_12_42_\[Changes\]/shelved.patch
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Update_at_26_03_2025_12_42__Changes_.xml
CoffeeShop/src/main/java/files/coffee_shop.log
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Checkout_at_31_03_2025_11_47_\[Changes\]/shelved.patch
CoffeeShop/.idea/shelf/Uncommitted_changes_before_Checkout_at_31_03_2025_11_47__Changes_.xml
